<p style="color: green"><%= notice %></p>

<h1>Prescriptions list</h1>

<div id="prescriptions">
  <% @prescriptions.each do |prescription| %>
    <%= render prescription %>
    <p>
      <%= link_to "Show this prescription", appointment_prescriptions_path(@appointment , prescription) %>
    </p>
  <% end %>
</div>

<%= link_to "New Prescription", new_appointment_prescription_path(@appointment) %>