<h1>Editing time slot</h1>

<%= render "form", time_slot: @time_slot %>

<br>

<div>
  <%= link_to "Show this time slot", @time_slot %> |
  <%= link_to "Back to time slots", time_slots_path %>
</div>
