<p style="color: green"><%= notice %></p>

<h1>Departments</h1>

<div id="departments">
  <% @departments.each do |department| %>
    <%= render department %>
    <p>
      <%= link_to "Show this department", hospital_departments_path(@hospital, department) %>
    </p>
  <% end %>
</div>

<%= link_to "New department", new_hospital_department_path(@hospital) %>
