<footer id="sticky-footer" class="py-4 bg-secondary text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Antima Singh", "https://github.com/antimasingh070/Hospital-Management-System", class: "text-white" %></small>
  </div>
</footer>